{% extends 'navbar.html' %}

{% block content %}
    <table class="table table-dark table-hover mt-5">
        <tr class="text-center">
            <th>Roll</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th colspan="2">Modification</th>
        </tr>
        {% for i in obj %}
            <tr class="text-center">
                <td>{{i.roll}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td><button class="btn btn-danger"><a href="{% url 'delete' i.id %}">Delete</a></button></td>
                <td><button class="btn btn-warning"><a href="{% url 'update' i.id %}">Update</a></button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
